firebase-admin
pytest
pytest-asyncio
pytest-mock
astor
psutil
beautifulsoup4
requests
googlesearch-python
transformers
torch
GitPython
Flask
asyncio-atexit
sherlock-project
holehe
maigret
theharvester
arcade-mcp
google-cloud-logging
playsound==1.2.2
gtts
demjson3
spacy
